{% extends 'base.html' %}

{% block content %}
    <style>
    .testing {
        background-color: yellow;
        margin: 1rem;
        width: 48px;
        height: 48px;
        border-radius: .5rem;
        display:inline-block;
    }
    </style>

    <div style="margin:2rem; text-align: center">
    <h1>http method</h1>
        {%  csrf_token %}
        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <input type="text" name="input_text" >

            <input type="submit" value="send" >

        </form>
        {%  for data in data_list %}

    <h1>{{ data.text }}</h1>
    {% endfor %}



    </div>

{% endblock %}